body
{
	font-family:'Gill Sans MT', Calibri, sans-serif;
	color: #F4AC45 ;
	background-color: #275e68;
	margin-left: 80px;
	margin-right: 80px;
}


header, footer
{
	text-align: center;
	color: #F4AC45;
	font-weight: bold;
}

h1, h2, h3, h4
{
	color: #F4AC45;
	font-family:serif;
	text-align: center;
}


a
{
	text-decoration: none;
	color:rgb(185, 211, 228);
}

a:hover
{
	text-decoration: underline;
}


figure
{
	text-align: center;
}

.profile-image{
  width:655px;
  height:433px;
}

figcaption
{
	font-style: italic;
}


nav
{
	text-align: center;
}

/* Css for table*/
table{
	border-collapse: collapse;
	margin: 0 auto;
	width:50%;
}

th{
	border: 1.5px solid rgba(43, 149, 153, 0.623);
	padding: .2em 1em .2em .5em;
	text-align: center;
	vertical-align: middle;
}
td{
	border: 1.5px solid rgba(43, 149, 153, 0.623);
	padding: .2em 1em .2em .5em;
	text-align: left;
	color:#181894;
	vertical-align: middle;
}

tbody tr:nth-child(even) td{
	background-color: rgb(195, 231, 195);
}
  
tbody tr:nth-child(odd) td{
	background-color: #308696;
}


/**Css for newsletter**/
.survey-text{
	color:rgb(185, 211, 228);
	padding-bottom: 10px;
}
.form-body{
	margin:auto;
	width: 80%;
}

form{
	background-color: #0e383f;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1%;
	padding-top: 2em;
	padding-bottom: 2em;
}

.form-group{
	display: flex;
	justify-content: space-around;
	padding: 0.5em;
	padding-left: 110px;
	padding-right: 110px;
}

.form-input-area{
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-dropdown{
	padding-left: 20px;
	padding-right: 80px;
	padding-bottom: 30px;
}

.form-control{
	background-color:rgb(226, 235, 241);
	height: 20px;
	width: 200px;
	border: unset;
	border-radius: 4%;
}
label{
	text-align:left;
	padding-right: 10px;
	font-size: larger;
}

.checkboxes-and-radio{
	display: flex;
	justify-content: space-around;
	padding-bottom: 2em;
}

.form-btn{
	padding-right: 6em;
	padding-bottom: 50px;
	display: flex;
	justify-content: end;
}

.buttons{
	height:40px;
	width: 90px;
	border: unset;
	border-radius: 8%;
	background-color: rgb(36, 152, 206);
}

.label-button{
	color: rgb(190, 236, 238);
}

.buttons:hover{
	background-color: rgb(8, 57, 80);
}

/**Css for first-scripts**/
.script-buttons{
    display: flex;
	justify-content:space-around;
	margin-right:100px;
	margin-left:100px;
}

/**Css for calculator**/
.calculator{
	height: 420px;
	width:300px;
	margin: 0 auto;
	padding: 10px;
	background-color: #0e383f;
	border-radius: 2%;
}

.calculator-textbox
{
width:100%;
height: 70px;
margin-bottom: .5em;
border: none;
border-radius: 2%;
background-color: #5ca15a;
font-family:sans-serif;
font-size: xxx-large;
color: rgb(236, 219, 219);
text-align: right;
}

.calculator-all-buttons{
	width: 100%;
	display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-buttons{
height: 60px;
background-color: rgb(36, 152, 206);
border: none;
color: rgb(221, 197, 197);
margin-top: 2px;
font-size:larger
}

.clear-button{
	grid-column: 1 / span 4;

}
