<header class="main-header">
    <nav class="nav main-nav">
        <ul>
            <div class="list-flex">
                <div>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="newsletter.html">NEWSLETTER</a></li>
                </div>
                <div>
                    <li><a href="cart.html"><i class="material-icons" style="color: #56CCF2">
                                shopping_cart
                            </i><span id="count" style="visibility:hidden">0</span></a>
                        </li>
                </div>
            </div>
        </ul>
    </nav>
    <hr>
</header>