<header>
    <h1>BERNARD MENSAH ~ ITIS3135</h1>
</header>
<nav>
    <a href="index.html">Home</a>
    &lt;&gt;
    <a href="introduction.html">Introduction</a>
    &lt;&gt;
    <a href="contract.html">Contract</a>
    &lt;&gt;
    <a href="tables.html">Tables</a>
    &lt;&gt;
    <a href="newsletter.html">Form</a>
    &lt;&gt;
    <a href="brand-brilliant-mule.html">Brand</a>
    &lt;&gt;
    <a href="website_evaluations.html">Website Evaluations</a>
    &lt;&gt;
    <a href="first-scripts.html">First Scripts</a>
    &lt;&gt;
    <a href="polygons.html">Polygons</a>
    &lt;&gt;
    <a href="calculator_try.html">Calculator try</a>
    &lt;&gt;
    <a href="calculator_fcc.html">Calculator fcc</a>
    &lt;&gt;
    <a href="arrays.html">Arrays</a>
    &lt;&gt;
    <a href="accessibility/Mensah-Activity_Accessibility.html">Accessibility</a>
    &lt;&gt;
    <a href="project_rand.html">Project Design</a>
    &lt;&gt;
    <a href="slideshow.html">Slideshow</a>
</nav>